body {
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
    font-weight: bold;
    color: seagreen;
    margin-top: 30px;
    background-color: black;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    font-size: 40px;
}
p {
    margin-left: 200px;
    margin-right: 200px;
    color: lightcoral;
    }
div {
    background-repeat: no-repeat;
    background-size: 100% 100%;

    }